[user]
	name = Carlos Peñas
	email = carlos@bebanjo.com
[github]
	user = theist
[alias]
	ci = commit
  co = checkout
	ls = log --pretty=format:\"%C(yellow)%h%Cblue [%cn] %Cred%d> %cd %Creset%s\" --decorate --date=short --graph
	changelog = log --pretty=format:\"%C(yellow)%h%Cblue [%cn] %Creset%s\" --decorate --date=short ORIG_HEAD..
	undo-commit = reset --soft HEAD^
  new = !sh -c 'git log $1@{1}..$1@{0} "$@"'
  serve = daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
  hub = !sh -c  'echo "https://github.com/"$(git config remote.origin.url) | sed -e "s/git@github.com://" -e "s/.git$//" '
  pp = !sh -c 'git pull && git push'
	yolo = !git commit -m \"fixup $(curl -s whatthecommit.com/index.txt)\"
	conflicts = diff --name-only --diff-filter=U
  fap = fetch --all -p
  ups = !sh -c 'git commit -am \"fixup\" && git rebase -i'

[core]
	excludesfile = /home/carlos/.gitignore-global
	pager = less -r
[color]
  ui = true
[branch]
  autosetuprebase = always
[merge]
  ff = false
[mergetool]
	keepBackup = false
[push]
  default = simple
[pull]
  rebase = preserve
[branch "master"]
  rebase = true
[diff]
  tool=meld
