[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  features = line-numbers decorations
  whitespace-error-style = 22 reverse
  syntax-theme = Monokai Extended
  navigate = true

[delta "decorations"]
  commit-decoration-style = green box 
  file-style = bold yellow ul
  file-decoration-style = blue box

[user]
	name = Carlos Peñas
	email = carlos@bebanjo.com
[github]
	user = theist
[alias]
	ci = commit
  co = checkout
	ls = log --pretty=format:\"%C(yellow)%h%Cblue [%cn] %Cred%d> %cd %Creset%s\" --decorate --date=short --graph
	changelog = log --pretty=format:\"%C(yellow)%h%Cblue [%cn] %Creset%s\" --decorate --date=short ORIG_HEAD..
	undo-commit = reset HEAD^
	yolo = !git commit -m \"fixup! $(curl -s whatthecommit.com/index.txt)\"
	conflicts = diff --name-only --diff-filter=U
  ups = !sh -c 'git commit -am \"fixup\" && git rebase -i'

[core]
	excludesfile = /home/carlos/.gitignore-global
	pager = less -r
[color]
  ui = true
[branch]
  autosetuprebase = always
[merge]
  ff = false
[mergetool]
	keepBackup = false
[push]
  default = simple
[pull]
  rebase = preserve
[branch "master"]
  rebase = true
[diff]
  tool=meld
[commit]
  verbose = true
[init]
  defaultBranch = main
[rebase]
  autoSquash = true
